name: CI
on: push

jobs:
  verify-parser:
    name: Verify generated parser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Generate a parser
        run: npm run generate
      - name: Check for changes
        run: |
          if ! git diff --quiet; then
            echo "The parser is out of date."
            git --no-pager diff
            exit 1
          fi

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint

  test:
    name: Test parser
    needs: [lint, verify-parser]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
