name: CI

on:
  push:
    branches: [master]
    paths:
      - grammar.js
      - package.json
      - package-lock.json
      - src/**
      - test/**
      - bindings/**
      - binding.gyp
  pull_request:
    paths:
      - grammar.js
      - package.json
      - package-lock.json
      - src/**
      - test/**
      - bindings/**
      - binding.gyp

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    steps:
      - uses: actions/checkout@v5
      - uses: tree-sitter/setup-action/cli@v2
      - uses: tree-sitter/parser-test-action@v3
